[Unit]
Description=Initialize GRUB A/B environment (grubenv) if missing
DefaultDependencies=no
After=local-fs.target
RequiresMountsFor=/boot/efi
Before=sysinit.target greenboot-healthcheck.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/grubenv-create.sh

[Install]
WantedBy=sysinit.target
